body{
    font-family: Helvetica;
    background-color: beige;
}

h1{
    text-align: center;
    background-image: url("./pattern.jpeg");
    font-size: 100px;
    color: Azure;
}

 #brushes-title{
    background-color: lightgreen;
}

#frames-title{
    background-color: burlywood;
}

#paint-title{
    background-color: blueviolet;
}

strong{
    color:blue;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
}